.header{
    height: 300px;
    width: 100%;
    background-color: aquamarine;
}
    .nav{
        border-radius: 60px 60px 0px 0px;
        height: 40px;
        width: 100%;
        background-color: rgb(191, 139, 249);
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        text-align: center;
        margin-bottom: 5px;
    }
    .nav a:hover{
        background-color: rgb(165, 108, 246);
        border-radius: 20px;
        color: rgb(0, 46, 248);
    }
    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        height: 50px;
        width: 100%;
    }
.link li{
    color: rgb(80, 219, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
}
.link a{
    text-decoration: none;
    color: white;
}

.herosection{
    border-radius: 0px 60px; 
    height: 170px;
    width: 100%;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:blue;
    font-style: italic;
    text-align: center;
    line-height: 40px;
    background:linear-gradient(rgb(248, 216, 235),rgb(246, 223, 246))
   
}
.content{
    border-radius: 10px;
    justify-content: center;
    height: 700px;
    width: 100%;
    display: flex;
    background-color: rgb(209, 253, 252);
}
.article{
height: 600px;
width: 60%;
margin-left: 10px;
margin-right: 10px;
margin-top: 50px;
margin-bottom: 50px;
overflow-y: auto;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
font-style: italic;
background-color: rgb(214, 245, 248);
}
#dateDisplay {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .response {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }

  .like {
    background-color: #4caf50;
    color: white;
  }

  .dislike {
    background-color: #f44336;
    color: white;
  }

  .count {
    font-size: 18px;
    font-weight: bold;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
.sidebar{
    height: 600px;
    width: 38%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    line-height: 20px;
    background-color: rgb(213, 251, 212);
}
.footer{
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
  
    background-color: rgb(244, 221, 255);
}